Temp/
Library/
obj/
*.svd
 
!Library/*.asset
!Library/AssetImportState
!Library/AssetVersioning.db
!Library/BuildPlayer.prefs
!Library/ScriptMapper
!Library/assetservercachev3
!Library/expandedItems
!Library/guidmapper
!Library/unity default resources
!Library/unity editor resources
 
 
 
/Heartbeat/Project.userprefs
/Heartbeat/Assembly-CSharp.csproj
/Heartbeat/Assembly-CSharp.pidb
/Heartbeat/Assembly-CSharp-Editor.csproj
/Heartbeat/Assembly-CSharp-Editor.pidb
/Heartbeat/Assembly-CSharp-Editor-vs.csproj
/Heartbeat/Assembly-CSharp-firstpass.csproj
/Heartbeat/Assembly-CSharp-firstpass.pidb
/Heartbeat/Assembly-CSharp-firstpass-vs.csproj
/Heartbeat/Assembly-CSharp-vs.csproj
/Heartbeat/Assembly-UnityScript-firstpass.pidb
/Heartbeat/Assembly-UnityScript-firstpass.unityproj
/Heartbeat/Assembly-UnityScript-firstpass-vs.unityproj
/Heartbeat/Project.suo

.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes